*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(img/cuca3.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
}
header{
    background-color: #000000AA;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4vw;
}
img{
    width: 144px;
}
.links ul{
    display:flex;
    gap: 18px;
    color: white;
    list-style-type: none;
}
.links a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all 1s;
    user-select: none;
}
.links a:hover{
    color: red;
}
a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
.menu{
    display: flex;
    gap:2px;
}
.menu li{
    list-style: none;
}
.menu a{
    color: white;
    text-decoration: none;
    transition: all .5s linear;
}
.menu li:hover > .submenu{
    display: block;
}
.menu a span{
    margin-left: 2px;
    font-size: 13px;
}
.submenu{
    position: absolute;
    padding: 0;
    display: none;
    margin: 0;
    z-index: 0;
}

ul .submenu{
    display: none;
    margin-top: 1px;
    font-size: 12px;
}

.submenu a{
    width: 170px;
    height: 47px;
    align-items: left;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    background-color: #000000BB;
}
.submenu a:hover{
    border-left: 10px solid  rgba(51, 0, 0, 0.747);
}
main{
    flex-grow: 3;
    padding: 13vh 5vw;
    color: white;
}
main h1{
    font-family: 'Caesar Dressing', cursive;
    font-size: 99px;
    position: relative;
    -webkit-text-stroke: 1px white;
    color: transparent;
    
}
main h1::after{
    content: "Cuca";
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.87);
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: -1;
}
main p{
    font-size: 22px;
    max-width: 410px;
}
.vertical{
    font-size: 32px;
    transform: rotate(270deg);
    color: red;
}
.vertical-text{
    display:flex;
    gap: 0px;
    list-style-type: none;
    align-items: center;
}
table{
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 0px;
    text-align: left;
}
td{
    border-right: 1px solid red;
    padding-right: 20px;
    padding-left: 20px;
}
tr.titulo{
    font-size: 19px;
}
tr.text{
    font-size: 13px;
}
footer{
    text-align: center;
    height: 40px;
    color: white;
    font-size: 15px;
    /*background-color: rgba(184, 135, 11, 0.226);*/
}