*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(img/sobre.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
}
header{
    background-color: #000000AA;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4vw;
}
img{
    width: 146px;
}
ul#ul-principal{
    background-color: #000000AA;
}
li{
    float: left;
    position: relative;
}
.links ul{
    display:flex;
    gap: 18px;
    color: white;
    list-style-type: none;
}
.links a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all 1s;
    user-select: none;
}
.links a:hover{
    color: red;
}
a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
.menu{
    display: flex;
    gap:2px;
}
.menu li{
    list-style: none;
}
.menu a{
    color: white;
    text-decoration: none;
    transition: all .5s linear;
}
.menu li:hover > .submenu{
    display: block;
}
.menu a span{
    margin-left: 2px;
    font-size: 13px;
}
.submenu{
    position: absolute;
    padding: 0;
    display: none;
    margin: 0;
    left: 0;
    z-index: 0;
}

ul .submenu{
    display: none;
    margin-top: 1px;
    font-size: 12px;
}

.submenu a{
    width: 170px;
    height: 47px;
    align-items: left;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    background-color: #000000BB;
}
.submenu a:hover{
    border-left: 10px solid  rgb(54, 0, 0);
}
footer{
    text-align: center;
    height: 30px;
    color: white;
    font-size: 15px;
    /*background-color: rgba(184, 135, 11, 0.226);*/
}
footer{
    text-align: center;
    height: 30px;
    color: white;
    font-size: 15px;
    /*background-color: rgba(184, 135, 11, 0.226);*/
}