*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(img/cidade\ invisivel.png);
    background-color: #0000006b;
    background-blend-mode: darken;
    background-size: cover;
    background-position: right top;
    display: flex;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
}
header{
    background-color: #000000AA;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10vw;
}
img{
    width: 145px;
}
.links ul{
    display:flex;
    gap: 18px;
    color: white;
    list-style-type: none;
}
.links a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: all 1s;
    user-select: none;
}
.links a:hover{
    color: red;
}
a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
main{
    flex-grow: 6;
    /*background-color: rgba(153, 50, 204, 0.452);*/
    padding: 20vh 10vw;
    color: white;
    font-size: 17px;
    line-height: 1.5;
}
main h3{
    font-size: 25px;
}
main h1{
    font-size: 50px;
}
main p{
    font-size: 20px;
    max-width: 600px;
}
main a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    width: 130px;
    height: 40px;
    background-color: goldenrod;
    border: solid 1px black;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.76);
    margin-top: 30px;
    border-radius: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.719);
    transition: all 1s;
}
main a:hover{
    border: solid 1px goldenrod;
    background-color: rgba(0, 0, 0, 0.76);
}
footer{
    text-align: center;
    height: 40px;
    color: white;
    font-size: 15px;
    /*background-color: rgba(184, 135, 11, 0.226);*/
}
.butter{
    opacity : 0.7;
    position: absolute;
    width: 60px;
    top: 90vh;
    left: 90vw;
    filter: brightness(10%);
    animation: voar 5s linear infinite;
}
@keyframes voar{
    0%{
        transform: translate(0 , 0);
    }
    100%{
        transform: translate(-90vw , -90vh);
    }
}

